@import url("theme.css");

* {
    font-family: "BitstromWera Nerd Font";
}

.control-center,
.floating-notifications {
    background: transparent;
}

.notification-row .notification-background {
    background: @bg;
    border: 1px solid @bg-alt;
    border-radius: 10px;
    color: @fg;
}

.notification-row .notification-background .notification-content {
    padding: 8px;
}

.control-center .widget-title {
    color: @fg;
    padding: 8px;
}

widget-dnd {
    color: @fg;
}
